<html>
    <head>
        <title>client</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/styles/styles.css' />
    </head>
    <body>
        <div class="container">
            <h1>{{ client.getName}}</h1>
                {% for dollar in 1..client.getPrice %}
                    <img src="/img/dollar.gif" width="48" height="48" alt="dolla dolla bill yall"/>
                {% endfor %}

            {% if client.getSpicy %}
                <p><img src="/img/chili.gif" height="48" width="48">! Watch out! Make sure to stay hydrated!</p>
            {% else %}
                <p><strong>NOT</strong> <img src="/img/chili.gif" height="48" width="48">. No problemo!</p>
            {% endif %}

            {% if stylists is not empty %}
                <p>Here are the stylists:</p>
                <ul>
                    {% for stylist in stylists %}
                        <li><h4>{{ stylist.getName}}</h4>
                            <ul>

                                <li>Seats: {{ stylist.getSeats }}</li>
                                <li>Location: {{ stylist.getLocation }}</li>

                                {% if stylist.getEvenings == false %}
                                    <li>Don't bother dining here at night</li>
                                {% else %}
                                    <li>You're welcome to eat here after 5</li>
                                {% endif %}
                                <li><!-- button to edit stylist here -->
                                    <a href="/stylists/{{ stylist.getId }}">Edit resto</a>
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p><a href="/clients/{{ client.getId }}/edit">Edit this Stylist info</a></p>

            <p><a href="/">Home</a></p>

            <h3>Add a Stylist </h3>

            <form action='/stylists' method='post'>
                <div class="form-group">
                    <input id='client_id' name='client_id' type='hidden' value='{{ client.getId }}'>
                    <label for='name'>Stylist Name</label>
                    <input id='name' name='name' type='text' required>
                </div>


                <button type='submit' class="btn btn-success">Add a Stylist</button>
            </form>

            <p><a href='/'>back to Home page</a></p>
        </div>
    </body>
</html>
